body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
}

.wrapper{
    width: 62.5vw;
    margin: 0 auto;
}

/*------DESCRIPTION-------*/
.description{
    margin-top: 4.35vh;
    display: flex;
    justify-content: space-between;
}

.description-left{
    padding-top: 4.26vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-menu{
    max-width: 19.53vh;
    margin-top: 5.37vh;
}

.description-title{
    font-size: 5.55vh;
    line-height: 5.93vh;
    color: white;
    font-family: 'Gilroy';
}

.description-company, .description-product{
    margin-bottom: 2.22vh;
}

.description-product, .description-goods{
    margin-top: 2.22vh;
}

.description-menu-item{
    margin-left: 0.78vw;
}

.description-menu-content > span{
    font-size: 1.89vh;
    line-height: 1.89vh;
    margin-left: 0.78vw;
    font-family: 'PT Sans';
}

.description-menu-line{
    height: 1px;
    background: linear-gradient(to left, #4B4B4B, #26262500);
}

.description-menu-footer{
    display: flex;
    margin-bottom: 2.96vh;
}

.description-menu-footer-item{
    width: 13px;
    height: 2px;
}

.description-menu-footer-item:not(:first-child){
    margin-left: 0.93vh;
}

.description-right{
    position: relative;
}

.description-price{
    font-family: 'PT Sans';
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
    background-color: #FF7028;
    color: white;
    position: absolute;
    top: 28.43vh;
    left: 6.3vw;
}

.description-tap{
    max-height: 51.1vh;
    display: block;
}

/*------HEADER-------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.52vh;
    padding-bottom: 3.52vh;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-title{
    margin-left: 1.35vw;
    font-family: 'PT Sans';
    font-size: 1.6vh;
    line-height: 1.85vh;
}

.header-phone{
    margin-left: 0.47vw;
    font-family: 'PT Sans';
    font-size: 1.48vh;
    line-height: 1.92vh;
}

.header-search{
    margin-left: 1.6vw;
    padding: 0.5vw;
}

/*------INTRO-------*/
.description-intro{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.description-intro > div{
    margin-top: 7.59vh;
    margin-bottom: 7.59vh;
}

.intro-orange{
    font-family: 'PT Sans';
    font-size: 1.6vh;
    line-height: 2.5vh;
    max-width: 30.73vw;
}

.intro-feature-content-title{
    font-weight: bold;
    color: black!important;
    font-size: 1.48vh;
}

.intro-feature{
    display: flex;
    justify-content: start;
    max-width: 20.5vw;
}

.intro-feature-content{
    font-family: 'PT Sans';
    font-size: 1.38vh;
    line-height: 1.85vh;
    color: #7B7B7B;
    margin-left: 1.48vw;
    max-width: 13.07vw;
}

.intro-orange-content{
    display: flex;
    align-items: center;
}

.intro-first-letter{
    line-height: 3.98vh;
    font-size: 5vh;
}

.intro-first-title{
    font-weight: bold;
}

/*------PRODUCTS-------*/
.products-container{
    margin-top: 7.4vh;
    margin-bottom: 9.26vh;
    display: flex;
    flex-direction: column;
}

.products-title{
    font-family: 'Gilroy';
    font-size: 2.96vh;
    line-height: 3.33vh;
    color: #151716;
}

.products{
    display: flex;
    margin-top: 2.59vh;
    align-items: end;
    justify-content: space-between;
}

.product{
    position: relative;
}

.product > img{
    max-width: 14.95vw;
}

.product-name{
    color: white;
    font-weight: 700;
    font-family: 'Gilroy';
    position: absolute;
    font-size: 1.85vh;
    line-height: 2.3vh;
    bottom: 2vh;
    left: 1.25vw;
}


/*------fonts-------*/
@font-face {
    font-family: 'Gilroy';
    src: url(content/font/gilroy-regular.ttf);
}

/*------colors-------*/
.light-gray-1{
    color: #999999;
}

.light-gray-2{
    color: #939393;
}

.light-gray-3{
    color: #BEBEBE;
}

.light-gray-text{
    color: #7B7B7B;
}

.light-gray-back{
    background-color: #F6F6F6;
}

.gray-back{
    background-color: #575757;
}

.gray-border{
    border: 1px solid #494949;
}

.orange{
    color: #FE5B00;
}

.orange{
    color: #FF7028;
}

.dark-gray{
    color: #151716;
}

.dark-gray-back{
    background-color: #060707D9;
}