body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
}

.wrapper{
    width: 62.5vw;
    margin: 0 auto;
}

/*------HEADER-------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.52vh;
    padding-bottom: 3.52vh;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-title{
    margin-left: 1.35vw;
    font-family: 'PT Sans';
    font-size: 1.6vh;
    line-height: 1.85vh;
}

.header-phone{
    margin-left: 0.47vw;
    font-family: 'PT Sans';
    font-size: 1.48vh;
    line-height: 1.92vh;
}

.header-search{
    margin-left: 1.6vw;
    padding: 0.5vw;
}

/*------colors-------*/
.light-gray-1{
    color: #999999;
}

.light-gray-2{
    color: #939393;
}

.light-gray-3{
    color: #BEBEBE;
}

.light-gray-text{
    color: #7B7B7B;
}

.light-gray-back{
    color: #F6F6F6;
}

.gray{
    color: #575757;
}

.gray-border{
    border: 1px solid #494949;
}

.orange{
    color: #FE5B00;
}

.orange{
    color: #FF7028;
}

.dark-gray{
    color: #151716;
}

.dark-gray-back{
    background-color: #060707D9;
}